@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #f3f1ff;
    font-family: 'Poppins', sans-serif;
}



/*----------------- 
     Top Players 
-------------------*/

.player img {
    height: 56px;
    width: 56px;
}

.player {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 0 30px;
}

.player-name {
    font-size: 18px;

}

.Top_players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    margin-bottom: 30px;
}

.container-1 h1 {
    color: #562eff;
    font-size: 24px;
    line-height: 36px;
    padding: 20px 713px 20px 30px;
}

.container-1 {
    background-color: white;
    height: 710px;
    width: 870px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-top: 10px;
    margin-bottom: -10px
}

/*----------------------
        Top Blogs 
 -----------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
}

.thumbnail img {
    width: 177px;
    height: 117px;
    padding: 0 30px;
}

.blog p {
    color: #9F9F9F;
}

.blog h3 {
    font-size: 20px;
    width: 200px;
    height: 68px;
}

.blog a {
    text-decoration: none;
    color: #562EFF;
}

.author {
    position: relative;
    margin-top: -15px;
}

.article {
    display: flex;
}

/* ----------------------
        Lates Course 
-------------------------*/

.courses {
    margin-top: 21px;
    background-color: white;
    width: 870px;
    height: 362px;
    top: 830px;
    left: 285px;
    border-radius: 5px;
}

.courses h1 {
    color: #562eff;
    width: 156px;
    height: 36px;
    padding: 23px 30px;
}

.course img {
    width: 224px;
    height: 104px;
}